<h2>Methods that were not run</h2><table>
<tr><td>Cohu.CohuAutomation.CohuAutomationDemo.connection4G<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Create Profile and Stream through Media Wizard connection4G</i></td></tr>
<tr><td>Cohu.CohuAutomation.CohuAutomationDemo.connection3G<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Create Profile and Stream through Media Wizard with connection3G</i></td></tr>
</table>